:root {
    --primary-color: #49719D;
    --secondary-color: #becfdc;
    --accent1-color: #815325;
    --accent2-color: #17394f;
}
* {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}
div.hero {
    position: relative;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    align-items: center;
    width: 100%;
    margin: 5px;
}
header img {
    grid-column-start: 2;
    border: solid 5px tan;
    box-shadow: 0px 0px 10px black;
}
header nav {
    display: flex;
    justify-content: space-around;
    grid-column-start: 3;
    background-color: lightgrey;
    box-shadow: 5px 3px 20px  black;
    border: solid grey;
    padding: 10px;
}
nav a {
    background: none;
}
h1 {
    color: var(--primary-color);
    padding: 0px;
    text-align: center;
    font-size: 80px;
    font-family: "Knewave", serif;
    font-weight: 400;
    font-style: normal;
    background: none;
    position: absolute;
    top: 20px;
    width: 100%;
    background-color: black;
    opacity: 80%;
}
 img#hero {
    display: block;
    width: 100%;
    height: auto;
} 
article {
    width: 80%;
    height: 30%;
    margin-left: 10%;
    position: absolute;
    top: 50%;
    background-color: var(--secondary-color);
    opacity: 80%;
}
article img {
    float: right;
    width: auto;
    height: 100%;
}
h2 {
    color: var(--accent2-color);
    font-family: "Zain", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 1dvi;
    text-align: center;
}
p {
    color: var(--accent1-color);
    font-family: "Zain", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background: none;
    margin: 20px;
}
.history {
    display: flex;
    align-items: center;
}
section h2 {
    text-align: center;
}
.history img {
    width: 400px;
}
.adventure {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin: 10px;
}
.adventure img{
    max-width: 300px;
    max-height: 300px;
}
figure {
    background-color: tan;
    border: gray solid 2px;
    box-shadow: 0px 0px 10px black;
    margin: 10px;
}
figcaption {
    text-align: center;
    color: black;
    background: none;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    color: black;
    width: 100%;
    height: 100px;
}
footer p {
    color: black;
}
.socal {
    background-color: lightgray;
    text-decoration: none;
    width: 30px;
    height: auto;
}
#map {
    margin: 20px;
    border: none;
    float: right;
}
section.company-info {
    display: flex;
    justify-content: center;
}
section.employee {
    display: flex;
    justify-content: center;
    text-align: center;
}
section.employee img {
    width: 100px;
    height: auto;
}
section.employee div.line {
    border-right: 1px solid black;
}
.form {
    margin: 10px;
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    font-family: "Zain", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
form {
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;
}
fieldset {
    padding: 5px;
}
textarea {
    width: 75%;
}
#submit {
    width: 100%;
    height: 3rem;
    background-color: var(--accent1-color);
}
#submit:hover {
    background-color: #83603c;
}
fieldset, label, input, legend {
    background: none;
}