:root {
    --primary-color: #49719D;
    --secondary-color: #becfdc;
    --accent1-color: #815325;
    --accent2-color: #17394f;
}
* {
    background-color: var(--secondary-color);
    margin: 10px;
}
div .hero {
    position: relative;
}

h1 {
    color: var(--primary-color);
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 80px;
    font-family: "Knewave", serif;
    font-weight: 400;
    font-style: normal;
    background: none;
    position: absolute;
    text-align: center;
    top: 250px;
    left: 25%;
}
 div img {
    display: block;
    width: 100%;
    height: auto;
} 
article {
    width: 75%;
    position: absolute;
    background: none;
    top: 500px;
    left: 200px;
    background-color: var(--secondary-color);
    opacity: 80%;
}
article img {
    float: right;
    width: 150px;
    height: auto;
}
h2 {
    color: var(--accent2-color);
    font-family: "Zain", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
p {
    color: var(--accent1-color);
    font-family: "Zain", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background: none;
}

.socal {
    text-decoration: none;
    width: 30px;
    height: auto;
}
