:root{
    --content-background-color: rgb(50, 55, 59);
    --primary-color: darkblue;
}
main {
    max-width: 840px;
}
aside {
    width: 300px;
    margin: 30px;
    border: 3px solid grey;
    padding: 20px;
    background-color: var(--content-background-color);
    color: white;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
nav {
    background-color: var(--primary-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--primary-color);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
footer {
    margin-top: 10px;
    border-top: dotted 2px black;
    text-align: center;
}